[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.8"
aiogram = "*"
requests = "*"
django-tastypie = "*"
numpy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
